<div style="background-color:DarkSeaGreen">
<h2>NEW EVENT</h2>
New Sediment Event (more to come)
<br>
<!-- <form [FormGroup] = 'form' -->
<div *ngFor="let question of pageQuestions; let i = index">
	<div *ngIf="i==0">
	{{i}}
	<question [myQuestion]="question" ></question>
</div>
</div>
<!-- /form> -->

<!-- <form [formGroup]="myForm">
	<div *ngFor="let question of pageQuestions">
		<question [myQuestion]="question" ></question>
	</div>
</form> -->

<!-- <form [formGroup]="myForm">
   <div formGroupName="name">
     <input formControlName="first">
     <input formControlName="last">
   </div>
</form>
{{ myForm.value | json }} -->
<!-- <question></question> -->

<br><br>
<filename>newEvent.component.html</filename>
</div>
