<div style="background-color:Cornsilk ">
<h3>View/Edit Event</h3>

Viewing event #{{eventID}}<br>
RAW Event Data: {{eventData}}<br>

Angular parsing boyee!!<br>
<li *ngFor="let item of testD">{{item}}</li>
<br>
<div style="background-color:DarkTurquoise ">
<button (click)="onTestingClick()">Test Stuff</button>
<br>
TESTOUTPUT:{{testout}}
<br>
<br></div>
<div style="background-color:Cyan">
	<button (click)="onModifyVarClick()">Modify Variable</button><button (click)="onModifyLSClick()">Modify LS</button>
	<br>
	TESTLSSTRING:{{testLSString}}
	
</div>
<filename>viewEditEvent.component.html</filename>

</div>
