<div style="background-color:Cornsilk ">
<h3>View/Edit Event</h3>

Viewing event #{{eventID}}<br>
RAW Event Data: {{eventData}}<br>

<br>
<div style="background-color:GreenYellow">
Angular parsing: <br>
testJSON: {{testJSON}} <br>
<!--li *ngFor="let doc of docs"-->
<div *ngIf="testJSON!=null">
	Inside NGIF
<li *ngFor="let item of keys()">{{item}}</li>
</div>


</div>

<br><br>

<div style="background-color:Aqua">
	<button (click)="onTestHTTPClick()">Test HTTP via service</button><br>
	HTTP Response: {{httpTestEvents}}
	<br>
	<br>
</div>

<br><br>

<div style="background-color:DarkTurquoise">
	<button (click)="onTestJSONParseStringifyClick()">Test JSON Parse and Stringfy</button><br>
	TESTOUTPUT:{{testout}}
	<br>
	<br>
</div><br><br>
<div style="background-color:Cyan">
	<button (click)="onModifyVarClick()">Modify Variable</button><button (click)="onModifyLSClick()">Modify LS</button><br>
	TESTLSSTRING:{{testLSString}}
</div>
<filename>viewEditEvent.component.html</filename>

</div>
