<div style="background-color:Thistle">
<h4>Question:</h4>

<br>
<div class="question">

	<div *ngIf="!myQuestion">
		Question not found...
	</div>

	<div *ngIf="myQuestion">

		<form #f="ngForm"
          (ngSubmit)="onSubmit(f.value)">

        <label for="skuInput">{{myQuestion.getLabel()}}</label>
        <input type="text"
               id="skuInput"
               placeholder="SKU"
               ngControl="sku">

      <button type="submit" class="ui button">Submit</button>
    </form>


<!--
		<form formGroupName="gen">
			<input type="radio" name="gender" value="male" checked> Male<br>
		    <input type="radio" name="gender" value="female"> Female<br>
		    <input type="radio" name="gender" value="other"> Other
		</form> -->


		<!-- <div formGroupName="name">
  <input formControlName="first">
  <input formControlName="last">
</div> -->



		<!-- <input type="radio" name="food" [(ngModel)]="food" value="one">
		<input type="radio" name="food" [(ngModel)]="food" value="two"> -->
		<!-- <b>Here is the passed question:</b><br>
		 {{myQuestion}} <br> -->
	</div> <!-- end if=myQuestion-->

</div> <!-- end class=question-->


<filename>question.component.html</filename>
</div>
